<% provide(:title, 'Contact') %>
        <h1>Contact</h1>
        <p>
          Contact the developer
          <a href="https://www.facebook.com/pages/Chris/761794673885685?skip_nax_wizard=true&ref_type=bookmark">Chris</a>.
        </p>