<% provide(:title, 'Help') %>
        <h1>Help</h1>
        <p>
          Get help on author's facebook
          <a href="https://www.facebook.com/pages/Chris/761794673885685?skip_nax_wizard=true&ref_type=bookmark">Chris</a>.
        </p>